@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,800&display=swap");

/* styles: Intro section */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --primary-color: #6070ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;

  /* font-family: 'Epilogue', sans-serif; */
  font-style: normal;
  color: #333;
  line-height: 1.6;
  background: #f4f5f7;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.dropdown-menu img {
  width: 20px;
}

.container {
  margin: auto;
  width: 100%;
  padding: 20px;
}

.navbar-brand {
  margin-left: 5%;
  font-size: 30px;
  font-weight: 800;
}

.nav-item {
  font-weight: 500;
  opacity: 70%;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.navbar-nav {
  gap: 25px;
}

.bi {
  color: rgb(2, 52, 251);
  gap: 5px;
}

.dropdown-menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-left: 10px;
}

.d-flex {
  margin-right: 5%;
  gap: 20px;
}

.d-flex p {
  font-weight: 500;
  cursor: pointer;
}

.btn {
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.col-sm .btn {
  font-size: 15px;
  margin-top: 20px;
}

.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 70px;
  font-weight: 700;
  margin-top: 28%;
}
